.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #252B42;
    background-color: white;
    height: 5rem;
    width: 100%;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding-left: 4rem;
}
.nav span {
    font-size: 1.5rem;
    font-weight: 700;
}
.nav button {
    margin-right: 8rem;
}
.menu-icon {
    display: none;
    font-size: 2rem;
}
.nav a {
    color: #252B42;
    text-decoration: none;
}
.nav button a {
    background-color: #252B42;
    color: white;
    border: 0;
    padding: 0.3rem 1rem;
    border-radius: 4px;
}

.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.mobile__nav {
    display: none;
}
@media (max-width: 1000px) {
    .mobile {
        display: none;
    }
    .mobile-view{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .menu-icon {
        display: block;
        margin-right: 4rem;
    }
    .nav__container {
        display: none;
    }
    .mobile__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
    }
    .nav__con a {
        color: #252B42;
    }
    .nav__con button {
        background-color: #252B42;
        color: white;
        border: 0;
        padding: 0.3rem 1rem;
        border-radius: 4px;
    }
}
@media (max-width: 600px) {
    .mobile-view{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .nav-container {
        padding: 0;
    }
    .nav span {
        margin-left: 2rem;
    }
    .menu-icon {
        margin-right: 2rem;
    }
}