.hero__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    height: 80vh;
    background-image: url("../../images/shop-hero.jpg");
    background-size: contain;
}
.hero__conatainer{
    width: 30%;
    height: fit-content;
    color: #252B42;
    margin-left: 10%;
}
h1 .hero__header {
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}
.hero__subheader {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}
.subtext {
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: left;
}
.hero__btn {
    width:  (221px);
    height:  (62px);
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    gap: 10px;
    background: #23856D;
    border: none;
}
.hero__btn a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;

}
.hero-two-container {
    width: 292px;
    height: 619px;
    padding: 0px 0px 0px 206px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.hero-two-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 548px;
    height: 316px;
    gap: 30px;
}
.subtext {
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
letter-spacing: 0.20000000298023224px;
text-align: left;

}
.header {
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0.20000000298023224px;
text-align: left;

}
.sub-header {
font-family: Montserrat;
font-size: 20px;
font-weight: 400;
letter-spacing: 0.20000000298023224px;
text-align: left;

}
.Btn {
    width: 221px;
    height: 62px;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    gap: 10px;
}
.Btn a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
   font-weight: 700;
   letter-spacing: 0.10000000149011612px;
   text-align: center;
}
.round {
    border-radius: 100%;
}